<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>
<table>
  <thead>
    <tr>
      <th>
        <%= link_to 'Title', movies_path(sort: 'title', direction: sorting_direction('title')) %>
        <span class="sort-indicator <%= 'sorted-asc' if @sort_column == 'title' && @sort_direction == 'asc' %>
                          <%= 'sorted-desc' if @sort_column == 'title' && @sort_direction == 'desc' %>">
          <%= symbol_direction('title') %>
        </span>
      </th>
      <th>
        <%= link_to 'Rating', movies_path(sort: 'rating', direction: sorting_direction('rating')) %>
        <span class="sort-indicator <%= 'sorted-asc' if @sort_column == 'rating' && @sort_direction == 'asc' %>
                          <%= 'sorted-desc' if @sort_column == 'rating' && @sort_direction == 'desc' %>">
          <%= symbol_direction('rating') %>
        </span>
      </th>
      <th>
        <%= link_to 'Release Date', movies_path(sort: 'release_date', direction: sorting_direction('release_date')) %>
        <span class="sort-indicator <%= 'sorted-asc' if @sort_column == 'release_date' && @sort_direction == 'asc' %>
                          <%= 'sorted-desc' if @sort_column == 'release_date' && @sort_direction == 'desc' %>">
          <%= symbol_direction('release_date') %>
        </span>
      </th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show this movie", movie %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total Movies: <%= @movies.count %></td>
    </tr>
  </tfoot>
</table>


<%= link_to "Add New movie", new_movie_path %>
